@import '~bootstrap';


// required
//@import "../node_modules/bootstrap/scss/functions";
//@import "../node_modules/bootstrap/scss/variables";
//@import "../node_modules/bootstrap/scss/mixins";

// override bootstrap

.col-lg-4, .col-lg-8, .col-lg-12 {
   padding-left: 2px;
   padding-right: 2px;
}

.container-fluid {
   padding-right: 0px;
   padding-left: 0px;
}

.col {
   padding-left: 2px;
   padding-right: 2px;
}

.row {
   margin-right: 0px;
   margin-left: 0px;
}

// standard html

body {
   font-family: "Verdana", sans-serif;
   font-size: 0.8rem;
   padding-top: 60px;
}

h3 {
   font-size: large;
   font-weight: bold;
}

.boxed {
   border: 1px solid #bbddbb;
   padding: 4px;
   margin: 4px;
}

// d3 library

.grid .tick line {
   stroke: darkgrey;
   opacity: 0.7;
}

